#{extends 'main.html' /}
#{set title:'Admin' /}

<ol class="breadcrumb">
    <li><a href="@{Application.index()}">Home</a></li>
    <li><a href="@{Admin.index()}">Admin</a></li>
    <li class="active">Clients</li>
</ol>

#{if clients && clients.size() > 0}
    <ul>
    #{list clients, as:'client'}
        <li><a href="@{Admin.client(client.id)}">${client.prenom} ${client.nom} (${client.email})</a></li>
    #{/list}
    </ul>
#{/if}
#{else}
    <p><i>Aucun client</i></p>
#{/else}

<a href="@{Admin.creerNouveauClient()}">Nouveau Client</a>
