#{extends 'main.html' /}
#{set title:'Admin - archive clients' /}

<ol class="breadcrumb">
    <li>
        <a href="@{Application.index()}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li>
        <a href="@{Admin.index()}">
            <span class="glyphicon glyphicon-font"></span>
        </a>
    </li>
    <li>
        <a href="@{Admin.clients()}">
            <span class="">Liste des clients</span>
        </a>
    </li>
    <li class="active">Archive clients</li>
</ol>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"> Liste des clients archivés</div>
        #{if clientsArchive && clientsArchive.size() > 0}
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Statut</th>
            </tr>
            #{list clientsArchive, as:'client'}
            <tr>
                <td>
                    <a href="@{Admin.client(client.id)}">${client.prenom}</a>
                </td>
                <td>
                    <a href="@{Admin.client(client.id)}">${client.nom}</a>
                </td>
                <td>
                    <a href="@{Admin.client(client.id)}">${client.email}</a>
                </td>
                <td>
                    <span class="alert-danger"><em>supprimé</em></span>
                </td>
            </tr>
            #{/list}
        </table>

        #{/if}
        #{else}
            <div class="container">
                <i>Aucun client</i>
            </div>
        #{/else}
    </div>
</div>

