#{extends 'main.html' /}
#{set title:'Ma Commande' /}

<a href="@{Admin.index()}">Retour</a>

<ul>
    #{list commandes, as:'produitPanier'}
    <li><a href="@{Application.detailProduit(produitPanier.produit.id)}">${produitPanier.produit.nom}</a> x ${produitPanier.quantite}, PU : ${produitPanier.produit.prixUnitaire} €, montant : ${(produitPanier.produit.prixUnitaire * produitPanier.quantite).format("0.##")} €
        <a href="@{Panier.modifierQuantite(produitPanier.produit.id, produitPanier.quantite - 1)}"> - </a>
        <a href="@{Panier.modifierQuantite(produitPanier.produit.id, produitPanier.quantite + 1)}"> + </a>
        <a href="@{Panier.retirer(produitPanier.produit.id)}" > x </a></li>
    #{/list}
</ul>
