#{extends 'main.html' /}
#{set title:'Admin' /}

<ol class="breadcrumb">
    <li><a href="@{Application.index()}">Home</a></li>
    <li><a href="@{Admin.index()}">Admin</a></li>
    <li class="active">Commandes</li>
</ol>

#{if commandes && commandes.size() > 0}
    <div class="col-xs-12 panel panel-default">
    <table class="table table-hover">
        <tr>
            <th class="col-xs-1">Date :</th>
            <th class="col-xs-2 col-sm-3">Client</th>
            <th class="col-xs-1 text-center">Statut</th>
            <th class="col-xs-2 text-right">Montant</th>
            <th class="col-xs-1 text-right"></th>
        </tr>
        #{list commandes, as:'commande'}
        <tr class="admin-lgnCommande">
            <td class="col-xs-1">${commande.date.toString("dd/MM/YYYY HH:mm")}</td>
            <td class="col-xs-2 col-sm-3">${commande.client.nom} ${commande.client.prenom}</td>
            <td class="col-xs-1 text-center">--</td>
            <td class="col-xs-2 text-right">${commande.montant} €</td>
            <td class="col-xs-1 text-right"><a href="@{Admin.commande(commande.id)}" class="glyphicon glyphicon-triangle-right"></a></td>
        </tr>
        #{/list}
    </table>
    </div>
#{/if}
#{else}
    <p class="text-center"><i>Aucune commande</i></p>
#{/else}