#{extends 'main.html' /}
#{set title:'Admin' /}

<ol class="breadcrumb">
    <li><a href="@{Application.index()}">Home</a></li>
    <li><a href="@{Admin.index()}">Admin</a></li>
    <li><a href="@{Admin.clients()}">Clients</a></li>
    <li class="active">Nouveau Client</li>
</ol>

<form action="@{Admin.enregistrerNouveauClient()}" method="post">
    <h2>Créer un nouveau Client</h2>
    <p><label>Nom :</label><input type="text" name="nom"><span class="error">#{error 'nom' /}</span></p>
    <p><label>Prenom :</label><input type="text" name="prenom"><span class="error">#{error 'prenom' /}</span></p>
    <p><label>Email :</label><input type="text" name="email"><span class="error">#{error 'email' /}</span></p>
    <p><input type="submit" value="Créer"><a href="@{Admin.clients()}">Annuler</a></p>
</form>