#{extends 'main.html' /}
#{set title:'Admin' /}

<ol class="breadcrumb">
    <li>
        <a href="@{Application.index()}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li>
        <a href="@{Admin.index()}">
            <span class="glyphicon glyphicon-font"></span>
        </a>
    </li>
    <li>
        <a href="@{Admin.clients()}">Liste des clients</a>
    </li>
    <li class="active">Nouveaux</li>
</ol>

<div class="container col-sm-offset-4 col-sm-4 col-lg-offset-4 col-lg-4 clearfix">
    #{ifErrors}
    <h1>Try again !</h1>
    #{/ifErrors}

    <form action="@{Admin.enregistrerNouveauClient()}" method="post">
        <h2>Créer un nouveau Client</h2>
        <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Nom</span>
            <input class="form-control" type="text" name="nom">
            <span class="error">#{error 'nom' /}</span>
        </div>
        <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon2">Prénom</span>
            <input class="form-control" type="text" name="prenom">
            <span class="error">#{error 'prenom' /}</span>
        </div>
        <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon3">Email :</span>
            <input class="form-control" type="text" name="email">
            <span class="error">#{error 'email' /}</span>
        </div>
        <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon4">Adresse Postale</span>
            <input class="form-control" type="text" name="adressePostale">
            <span class="error">#{error 'adressePostale' /}</span>
        </div>
        <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon5">Téléphone</span>
            <input class="form-control" type="text" name="telephone">
            <span class="error">#{error 'telephone' /}</span>
        </div>
        <div class="pull-left input-group input-group-md">
            <input type="submit" value="Créer" class="btn btn-primary">
        </div>
        <div class="pull-right">
            <a class="btn btn-warning" href="@{Admin.clients()}">Annuler</a>
        </div>
    </form>
</div>