#{extends 'main.html' /}
#{set title:'Modifier client' /}

<div class="container">
    <form action="@{Admin.clients}" method="post">
        <label class="form-user-mod">Nom</label><input type="text">
        <label class="form-user-mod">Prenom</label><input type="text">
        <label class="form-user-mod">Email</label><input type="text">
        <label class="form-user-mod">Mot de passe</label><input type="text">
        <label class="form-user-mod">Adresse</label><input type="text">
        <label class="form-user-mod">Telephone</label><input type="text">
        <label class="form-user-mod">Role</label><input type="text">
        <label class="form-user-mod">Supprim&eacute;</label><input type="text">
    </form>

</div>

