#{extends 'main.html' /}
#{set title:'Admin' /}

<ol class="breadcrumb">
    <li><a href="@{Application.index()}">Home</a></li>
    <li><a href="@{Admin.index()}">Admin</a></li>
    <li class="active">Produits</li>
</ol>

#{if produits && produits.size() > 0}
    <ul>
    #{list produits, as:'produit'}
        <li><a href="@{Admin.produit(produit.id)}">${produit.nom}</a> : ${produit.prixUnitaire} €</li>
    #{/list}
    </ul>
#{/if}
#{else}
    <p><i>Aucun produit</i></p>
#{/else}

<a href="@{Admin.creerNouveauProduit()}">Nouveau Produit</a>
