/* ==========================================================================
  HEADER
========================================================================== */


/* ==========================================================================
  BREADCRUMB
========================================================================== */


/* ==========================================================================
  MAIN
========================================================================== */
.produit{
    padding-top: 10px;
    form: left;
}

.produit-img{
    display: block-inline;
    form: left;
}

.produit-nom, .produit-desc, .produit-pu{
    display: block-inline;
    form: left;
}

.avisClients{
    display: block;
    form:left;
    padding-top: 2em;
    width: 90%;
}