@import 'nib'

/* ==========================================================================
  GLOBAL
========================================================================== */

global-reset()
typographic()

*
  box-sizing border-box

.clearfix:after, .clearfix:before, .container:after, .container:before,
.form-horizontal .form-group:after, .form-horizontal .form-group:before,
.modal-footer:after, .modal-footer:before, .nav:after, .nav:before,
.pager:after, .pager:before, .panel-body:after, .panel-body:before
  display table
  content " "
  clear both

html
  line-height $line-height-ratio

body
  background #fff
  font-family $body-font
  color $body-color
  font-size 100%
  font-smoothing: antialiased
  overflow-x hidden
  width 100%
  height 100%
  line-height $line-height-ratio
  word-wrap break-word

/* ==========================================================================
   RIPPLE EFFECT
   ========================================================================== */

.ripple-effect
  position relative
  overflow hidden
  transform: translateZ(0)

.ink
  display block
  position absolute
  pointer-events none
  border-radius 50%
  transform scale(0)
  opacity 1

.ink.animate
  animation ripple-effect 0.5s linear

@keyframes ripple-effect {
  100% {
    opacity 0
    transform scale(2.5)
  }
}

#main-nav
  position fixed
  top 0
  left 0
  width 270px
  bottom 0
  background-color #1b6d85
  transform translateX(-270px)
  transition all .2s linear
  z-index 10


#mask
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0,0,0,.7)
  cursor pointer
  display none

.main-menu-opened
  #main-nav
    transform translateX(0)
  #mask
    display block

/* ==========================================================================
GOOGLE MAP
========================================================================== */

#map-container
  width 100%
  height 500px

#map_canvas
  width 100%
  height 100%

#map_canvas img
  max-width none !important
  height: auto

.gm-style img
  max-width none
.gm-style label
  width auto
  display inline