/* ==========================================================================
  GLOBAL
========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", 'sans-serif';
  font-weight: 300;
  color: #7f7f7f;
  font-size: 12px;
  line-height: 1.5em !important;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 12px + (12 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 12px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #111;
  clear: both;
}
h1 {
  font-size: 27.854389952340615px;
  margin-top: 0.807772133530762em;
  line-height: 0.969326560236914em !important;
  margin-bottom: 0.161554426706152em;
  margin-top: 0.807772133530762em;
  line-height: 0.969326560236914em !important;
  margin-bottom: 0.161554426706152em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 27.854389952340615px + (27.854389952340615 - 27.854389952340615) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h1 {
    font-size: 27.854389952340615px;
  }
}
h2 {
  font-size: 23.53700340860508px;
  margin-top: 0.955941570360399em;
  line-height: 1.147129884432479em !important;
  margin-bottom: 0.215556961697229em;
  margin-top: 0.955941570360399em;
  line-height: 1.147129884432479em !important;
  margin-bottom: 0.215556961697229em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 23.53700340860508px + (23.53700340860508 - 23.53700340860508) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h2 {
    font-size: 23.53700340860508px;
  }
}
h3 {
  font-size: 19.88880497489178px;
  margin-top: 1.131289689270153em;
  line-height: 1.357547627124184em !important;
  margin-bottom: 0.26038637414867em;
  margin-top: 1.131289689270153em;
  line-height: 1.357547627124184em !important;
  margin-bottom: 0.26038637414867em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 19.88880497489178px + (19.88880497489178 - 19.88880497489178) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h3 {
    font-size: 19.88880497489178px;
  }
}
h4 {
  font-size: 16.806071548796314px;
  margin-top: 1.338801868995464em;
  line-height: 1.606562242794557em !important;
  margin-bottom: 0.315557452317113em;
  margin-top: 1.338801868995464em;
  line-height: 1.606562242794557em !important;
  margin-bottom: 0.315557452317113em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 16.806071548796314px + (16.806071548796314 - 16.806071548796314) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h4 {
    font-size: 16.806071548796314px;
  }
}
h5 {
  font-size: 14.201156945318075px;
  margin-top: 1.584377955024146em;
  line-height: 1.901253546028975em !important;
  margin-bottom: 0.316875591004829em;
  margin-top: 1.584377955024146em;
  line-height: 1.901253546028975em !important;
  margin-bottom: 0.316875591004829em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 14.201156945318075px + (14.201156945318075 - 14.201156945318075) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h5 {
    font-size: 14.201156945318075px;
  }
}
h6 {
  font-size: 12px;
  margin-top: 1.875em;
  line-height: 2.25em !important;
  margin-bottom: 0.53125em;
  margin-top: 1.875em;
  line-height: 2.25em !important;
  margin-bottom: 0.40625em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 12px + (12 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h6 {
    font-size: 12px;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.75em;
  margin-bottom: 1.5em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.075em 0.225em;
  line-height: 0 !important;
}
big,
small,
sub,
sup {
  line-height: 0 !important;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.75em 1.5em 1.5em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.625em;
}
@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 1.71875em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.1875em;
  margin-bottom: -0.0625em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.375em;
  font-size: 12px;
  margin-bottom: 1.1875em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 12px + (12 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 12px;
    margin-bottom: 0.484375em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 12px;
  padding: 0.375em 1.5em;
  margin-bottom: 0.9375em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 12px + (12 - 12) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="submit"],
  button {
    font-size: 12px;
    margin-bottom: 1.125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.125em;
}
@media (min-width: 1140px) {
  table {
    margin-bottom: 1.9375em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.1875em 0.75em;
}
@media (min-width: 1140px) {
  th {
    padding: 0.375em 0.75em;
  }
}
td {
  padding: 0.1875em 0.75em;
}
@media (min-width: 1140px) {
  td {
    padding: 0.375em 0.75em;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before {
  display: table;
  content: " ";
  clear: both;
}
html {
  line-height: 1.5;
}
body {
  background: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", 'sans-serif';
  color: #7f7f7f;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
}
/* ==========================================================================
   RIPPLE EFFECT
   ========================================================================== */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ink.animate {
  -webkit-animation: ripple-effect 0.5s linear;
  -moz-animation: ripple-effect 0.5s linear;
  -o-animation: ripple-effect 0.5s linear;
  -ms-animation: ripple-effect 0.5s linear;
  animation: ripple-effect 0.5s linear;
}
#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  bottom: 0;
  background-color: #1b6d85;
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  transform: translateX(-270px);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 10;
}
#mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
  display: none;
}
.main-menu-opened #main-nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.main-menu-opened #mask {
  display: block;
}
/* ==========================================================================
GOOGLE MAP
========================================================================== */
#map-container {
  width: 100%;
  height: 500px;
}
#map_canvas {
  width: 100%;
  height: 100%;
}
#map_canvas img {
  max-width: none !important;
  height: auto;
}
.gm-style img {
  max-width: none;
}
.gm-style label {
  width: auto;
  display: inline;
}
/* ==========================================================================
AGENDA
========================================================================== */
.cell {
  width: calc(100% / 7);
  display: block;
  border: 1px solid #808080;
  height: 50px;
  float: left;
}
.day-title {
  text-align: center;
  line-height: 50px;
}
.day {
  height: 150px;
}
.day.active {
  background-color: #a3ded2;
}
.day.empty {
  background-color: #ececec;
}
#alerts-container {
  position: fixed;
  top: 16px;
  right: 16px;
}
.alert {
  background-color: #74c36f;
  color: #fff;
  padding: 1em 2em;
  margin-bottom: 16px;
  display: block;
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@keyframes ripple-effect {
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
