/* ==========================================================================
  Config
========================================================================== */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    /* Margin bottom by footer height */
    margin-bottom: 2em;
}

#headerMain{
    height: 50px;
    background-color: #acd4d3;
    padding: 0 16px;
}

.footer{
    position: absolute;
    padding-top: 2em;
    bottom: 0;
    width: 100%;
    height: 2em;
}

/* ==========================================================================
  HEADER
========================================================================== */
.header-elem{
    display: inline;
    float: left;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 1.0em;
}

.header-Home{
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    font-size: 1.8em;
}
