/* ==========================================================================
  Config
========================================================================== */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    /* Margin bottom by footer height */
    margin-bottom: 2em;
}

#headerMain{
    height: 50px;
    background-color: #acd4d3;
    padding: 0 16px;
}

.footer{
    position: absolute;
    padding-top: 2em;
    bottom: 0;
    width: 100%;
    height: 2em;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../lib/fonts/glyphicons-halflings-regular.eot');
  src: url('../lib/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../lib/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../lib/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../lib/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../lib/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.table tbody>tr>td.vertAlign{
    vertical-align: middle;
}

.navbar-default a{
    color: black;
}

/* ==========================================================================
  HEADER
========================================================================== */
.header-elem{
    display: inline;
    height: 100%;
    text-align: center;
    padding-top: 1.0em;
}

.header-Home{
    display: inline;
    float: left;
    text-align: center;
    padding-top: 0.5em;
    font-size: 1.8em;
}


/* ==========================================================================
  BODY
========================================================================== */
.vignetteProd{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.vignetteProd img{
    position:absolute;
}