$body-color = #7f7f7f
$body-font = "Helvetica Neue","Helvetica","Arial",'sans-serif'
$min-font = 12px
$max-font = 12px
$header-font-weight = 300
$line-height-ratio = 1.5
$color-primary = #a3ded2
$color-default = #ececec
$color-success = #74c36f