#{extends 'main.html' /}
#{set title:'Mon panier' /}

<ol class="breadcrumb">
    <li>
        <a href="@{Application.index()}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li class="active">panier</li>
</ol>

<div class="container">
    #{if panier.produits && panier.produits.size() > 0}
    #{list panier.produits, as:'produitPanier'}
    <ul class="media-list">
        <li class="media list-group-item">
            <div class="media-left">
                <a href="@{Application.detailProduit(produitPanier.produit.id)}">
                    <img class="media-object image-min" src="${produitPanier.produit.image}" alt="${produitPanier.produit.nom}">
                </a>
            </div>
            <div class="media-body clearfix">
                <h4 class="media-heading">${produitPanier.produit.nom}</h4>
                <strong>X ${produitPanier.quantite}</strong>
                <i> (PU : ${produitPanier.produit.prixUnitaire} €)</i>
                montant :
                <strong>
                    <span class="prixElement">${(produitPanier.produit.prixUnitaire * produitPanier.quantite).format("0.##")}</span> €
                </strong>

                <div class="pull-right">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" href="@{Panier.modifierQuantite(produitPanier.produit.id, produitPanier.quantite + 1)}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a class="btn btn-info" href="@{Panier.modifierQuantite(produitPanier.produit.id, produitPanier.quantite - 1)}">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                    </div>
                    <a class="btn btn-danger"  href="@{Panier.retirer(produitPanier.produit.id)}" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    #{/list}
    <div class="clearfix">
        <h3 class="pull-left">
            <a class="btn btn-default" href="@{Application.index()}">Continuer les achats</a>
        </h3>
        <h3 class="pull-right">
            <a class="btn btn-primary" href="@{Panier.passerCommande()}">Passer commande</a>
            <div class="label label-default">
                TOTAL : <span id="total"></span> €
            </div>
        </h3>
    </div>


    #{/if}
    #{else}
    <p><i>Aucun produit dans le panier</i></p>
    <script>
        window.location.href = "@{Application.index()}";
    </script>
    #{/else}
</div>