<div class="message">The content of my element <mark>${name}</mark>.</div>
<div><strong>Your signature:</strong></div>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="100" viewBox="0 0 300 100">
    <rect id="r" width="300" height="100" fill="#ffa"/>
    <line x1="0" y1="80" x2="300" y2="80" stroke="#666" stroke-width="1" stroke-dasharray="3" shape-rendering="crispEdges" pointer-events="none"/>
        <path xmlns="http://www.w3.org/2000/svg" id="p" stroke="navy" stroke-width="2" fill="none" pointer-events="none" d="${signature} "/>
    </svg>
*{
    <iframe width="560" height="315" src="https://www.youtube.com/embed/${videoCode}?modestbranding=1&rel=0&autohide=1&showinfo=0&wmode=transparent&hd=1&autoplay=0" frameborder="0" allowfullscreen></iframe>
}*
</div>