#{extends 'main.html' /}
#{set title:'A propos' /}

<ol class="breadcrumb">
    <li>
        <a href="@{Application.index()}">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li class="active">A Propos</li>
</ol>

<div class="container">

    <h1 class="alert alert-info">Bienvenue sur ECommerce 2016</h1>
    <h2>Ce site a été conçu par des enfants chinois.</h2>
    <h2>Ne participez à leur exploitation</h2>
    <h2 class="alert alert-danger"><strong>N'achetez rien !</strong></h2>

</div>