#{extends 'main.html' /}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

</head>
<body>

<div class="thumbnail">


    <div class="caption">
        <p> <h1>Contact</h1>
        <address><h3>Mr Souleymane Ndiaye<br>
            M2i formation<br>
            15 allée Robert Lemasson<br>
            76230 Bois Guillaume</h3></address></p>

        <p><a class="btn btn-primary btn-lg" href="mailto:ndiaye.souleymane@live.fr" role="button">Contactez-moi »</a></p>

    </div>
</div>

<div class="col-sm-12 col-md-12">
  <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2592.533263814096!2d1.1079211152393125!3d49.474433065086835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0dc5178e9b8d3%3A0xecf97c08a7611ecc!2sM2I+FORMATION!5e0!3m2!1sfr!2sfr!4v1472026872053" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
</div>
</body>
</html>