#{extends 'main.html' /}

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Presentation de produits | My Site</title>
    <meta name="apple-mobile-web-app-title" content="Presentation of my company | My Site">
    <meta name="application-name" content="Presentation of my company | My Site">
    <meta property="og:title" content="Presentation of my company | My Site">
    <meta property="twitter:title" content="Presentation of my company | My Site">

    <meta name="description" content="Description about my page in 160 characters">
    <meta name="msapplication-tooltip" content="Description about my page in 160 characters">
    <meta property="og:description" content="Description about my page in 160 characters">
    <meta property="twitter:description" content="Description about my page in 160 characters">

    <link rel="image_src" href="http://www.mysite.com/images/my-site-presentation.png">
    <meta property="twitter:image" content="http://www.mysite.com/images/my-site-presentation.png">
    <meta property="og:image" content="http://www.mysite.com/images/my-site-presentation.png">

    <meta property="og:url" content="http://www.mysite.com/about-us">
    <meta property="twitter:url" content="http://www.mysite.com/about-us">
    <link rel="canonical" href="http://www.mysite.com/about-us">

    <meta property="og:article:published_time" content="16/08/2016">
    <meta name="date" content="16/08/2016">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="My site">

    <meta property="og:article:publisher" content="https://www.facebook.com/My-Company">
    <meta property="twitter:site" content="@MyCompnay">
    <meta property="twitter:creator" content="@MyCompnay">
    <meta name="author" content="http://www.mysite.com">

    <meta property="twitter:card" content="photo">

    <meta name="geo.placename" content="Rouen">
    <meta name="geo.region" content="fr">

    <meta name="copyright" content="©2016 My site | all rights reserved">

    <!-- <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"> -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/produitStyle.css'}">



</head>

<!--header!-->

<body>



<!--header!-->

<div class="jumbotron">
    <div class="clearfix">
    <div class="container col-xs-8 ">
        <h1>${produit.nom}</h1>

        <img data-holder-rendered="true" src="http://ichef.bbci.co.uk/news/624/cpsprodpb/0FFB/production/_88819040_85eb06a1-3986-45b9-af28-20783f938751.jpg" class="shadow" width="460" height="215" ></p>
    </div>

    <div class="well col-xs-4 wrapEllipse ">
        <h2>Description</h2>
        <p>${produit.description}</p>
        <p>${produit.prixUnitaire} €</p>


        <form action="@{Panier.modifierQuantite()}" method="post">
            <input type="hidden" name="idProduit" value="${produit.id}">
            <p><label>Quantité : </label><input type="number" name="quantite" value="1" min="1"></p>
            <p><input type="submit" value="Ajouter au Panier"></p>
        </form>






    </div>


    <div class="container col-xs-8 ">
    <iframe width="460" height="215" src="https://www.youtube.com/embed/ejVe_VHZJ6Y" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
</div>



<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-3">
            <h2 class="wrapEllipse">Délais de livraison</h2>
            <p class="wrapEllipse"><ul><li>Colissimo: 5jours</li>
            <li>DHL: 2 jours</li></ul> </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-xs-3">
            <h2 class="wrapEllipse">Disponibilité</h2>
            <p class="wrapEllipse">Ce produit est en stock </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-xs-3">
            <h2 class="wrapEllipse">Catégorie</h2>
            <p class="wrapEllipse">Chaussure auto-laçante</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-xs-3">
            <h2 class="wrapEllipse">Garantie</h2>
            <p class="wrapEllipse">Garantie 2 ans</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>

</div>

<hr>
<!--footer!-->
<footer>

    <div class="container">
        <p class="text-muted">© 2016 Souleymane Inc / <a href="#">Contacts</a></p>

    </div>

</footer>
</div>




</body>


</html>
