#{extends 'main.html' /}
#{set title:'Home' /}




<div class="container">
    <h1>Bienvenue dans l'application ECommerce</h1>

    <p>${flash.success}</p>
    <!-- Menu Catégories-->
    <div>
        <nav class="navbar navbar-default">
            <div class="menu-categ">
                <div class="nav-bar-item"><a href="#">Classeur</a> </div>
                <div class="nav-bar-item"><a href="#">Intercallaires</a> </div>
                <div class="nav-bar-item"><a href="#">Feuilles perfor&eacute;es</a> </div>
                <div class="nav-bar-item"><a href="#">Cahiers</a> </div>
                <div class="nav-bar-item"><a href="#">Stylo</a> </div>
            </div>
        </nav>
    </div>

    <!-- Nouveautés et plus vendus -->
    <!-- Les Nouveautés -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nouveaux Produits</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@{'/public/images/intercallaire-1.jpg'}" alt="intercallaire 1">
                        <div class="caption">
                            <h3>Intercallaires</h3>
                            <p>Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina, quae abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini truculenti illius imperatoris rettulimus coniugem.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Voir</a> <a href="#" class="btn btn-default" role="button">Commander</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@{'/public/images/intercallaire-2.jpg'}" alt="intercallaire 2">
                        <div class="caption">
                            <h3>Intercallaires</h3>
                            <p>Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina, quae abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini truculenti illius imperatoris rettulimus coniugem.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Voir</a> <a href="#" class="btn btn-default" role="button">Commander</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@{'/public/images/intercallaire-3.jpg'}" alt="intercallaire 3">
                        <div class="caption">
                            <h3>Intercallaires</h3>
                            <p>Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina, quae abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini truculenti illius imperatoris rettulimus coniugem.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Voir</a> <a href="#" class="btn btn-default" role="button">Commander</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Les plus vendus -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Produits les plus vendus</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@{'/public/images/intercallaire-1.jpg'}" alt="intercallaire 1">
                        <div class="caption">
                            <h3>Intercallaires</h3>
                            <p>Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina, quae abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini truculenti illius imperatoris rettulimus coniugem.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Voir</a> <a href="#" class="btn btn-default" role="button">Commander</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@{'/public/images/intercallaire-2.jpg'}" alt="intercallaire 2">
                        <div class="caption">
                            <h3>Intercallaires</h3>
                            <p>Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina, quae abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini truculenti illius imperatoris rettulimus coniugem.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Voir</a> <a href="#" class="btn btn-default" role="button">Commander</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@{'/public/images/intercallaire-3.jpg'}" alt="intercallaire 3">
                        <div class="caption">
                            <h3>Intercallaires</h3>
                            <p>Adolescebat autem obstinatum propositum erga haec et similia multa scrutanda, stimulos admovente regina, quae abrupte mariti fortunas trudebat in exitium praeceps, cum eum potius lenitate feminea ad veritatis humanitatisque viam reducere utilia suadendo deberet, ut in Gordianorum actibus factitasse Maximini truculenti illius imperatoris rettulimus coniugem.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Voir</a> <a href="#" class="btn btn-default" role="button">Commander</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ul>
#{list produits, as:'produit'}
    <li><a href="@{Application.detailProduit(produit.id)}">${produit.nom} : ${produit.prixUnitaire} €</a></li>
#{/list}
</ul>