<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js ie"><![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Presentation of my company | My Site</title>
    <meta name="apple-mobile-web-app-title" content="Presentation of my company | My Site">
    <meta name="application-name" content="Presentation of my company | My Site">
    <meta property="og:title" content="Presentation of my company | My Site">
    <meta property="twitter:title" content="Presentation of my company | My Site">

    <meta name="description" content="Description about my page in 160 characters">
    <meta name="msapplication-tooltip" content="Description about my page in 160 characters">
    <meta property="og:description" content="Description about my page in 160 characters">
    <meta property="twitter:description" content="Description about my page in 160 characters">

    <link rel="image_src" href="http://www.mysite.com/images/my-site-presentation.png">
    <meta property="twitter:image" content="http://www.mysite.com/images/my-site-presentation.png">
    <meta property="og:image" content="http://www.mysite.com/images/my-site-presentation.png">

    <meta property="og:url" content="http://www.mysite.com/about-us">
    <meta property="twitter:url" content="http://www.mysite.com/about-us">
    <link rel="canonical" href="http://www.mysite.com/about-us">

    <meta property="og:article:published_time" content="16/08/2016">
    <meta name="date" content="16/08/2016">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="My site">

    <meta property="og:article:publisher" content="https://www.facebook.com/My-Company">
    <meta property="twitter:site" content="@MyCompnay">
    <meta property="twitter:creator" content="@MyCompnay">
    <meta name="author" content="http://www.mysite.com">

    <meta property="twitter:card" content="photo">

    <meta name="geo.placename" content="Rouen">
    <meta name="geo.region" content="fr">

    <meta name="copyright" content="©2016 My site | all rights reserved">

    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/icomoon.css'}">
    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/stylesheets-responsive.css'}">

    <link rel="apple-touch-icon" sizes="57x57" href="@{'/public/images/apple-touch-icon-57x57.png'}">
    <link rel="apple-touch-icon" sizes="60x60" href="@{'/public/images/apple-touch-icon-60x60.png'}">
    <link rel="apple-touch-icon" sizes="72x72" href="@{'/public/images/apple-touch-icon-72x72.png'}">
    <link rel="apple-touch-icon" sizes="76x76" href="@{'/public/images/apple-touch-icon-76x76.png'}">
    <link rel="apple-touch-icon" sizes="114x114" href="@{'/public/images/apple-touch-icon-114x114.png'}">
    <link rel="apple-touch-icon" sizes="120x120" href="@{'/public/images/apple-touch-icon-120x120.png'}">
    <link rel="apple-touch-icon" sizes="144x144" href="@{'/public/images/apple-touch-icon-144x144.png'}">
    <link rel="apple-touch-icon" sizes="152x152" href="@{'/public/images/apple-touch-icon-152x152.png'}">
    <link rel="apple-touch-icon" sizes="180x180" href="@{'/public/images/apple-touch-icon-180x180.png'}">
    <link rel="icon" type="image/png" href="@{'/public/images/android-chrome-192x192.png'}" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="@{'/public/images/ms-icons-70x70.png'}" />
    <meta name="msapplication-square150x150logo" content="@{'/public/images/ms-icons-150x150.png'}" />
    <meta name="msapplication-square310x310logo" content="@{'/public/images/ms-icons-310x310.png'}" />
</head>
<body>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript" charset="utf-8"></script>
<script src="lib/css-mediaqueries/css3-mediaqueries.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->

<header id="header" class="clearfix" role="banner">
    <a id="logo" href="@{Application.index()}" title="my website, my main activity...">
        <span class="img company-logo" alt="Logo of my company"></span>
    </a>
    <button id="menu-btn" class="nav-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <nav id="main-nav">
        <ul id="main-nav-list" class="list-unstyled">
            <li class="main-nav-item"><a class="main-nav-link" href="#" title="Home page">Home</a></li>
            <li class="main-nav-item active"><a class="main-nav-link" href="#" title="About us">About us</a></li>
            <li class="main-nav-item"><a class="main-nav-link" href="#" title="Contacts">Contacts</a></li>
        </ul>
    </nav>
</header>
<div id="page-content" itemscope itemtype="http://schema.org/WebPage">
    <nav id="breadcrumb">
        <meta itemprop="url" content="http://my-site.com/about-us">
        <div class="container">
            <ol class="list-unstyled" id="breadcrumb-list" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="breadcrumb-link" href="#" itemprop="item">
                        <span itemprop="name">
                            <span class="visible-small icon-arrow-left"></span>
                            <span class="hidden-small">Home</span>
                        </span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="breadcrumb-link" href="#" itemprop="item"><span itemprop="name">About us</span></a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
        </div>
    </nav>
    <main id="main" role="main" itemscope itemtype="http://schema.org/ItemPage">
        <div class="container">
            <article class="main-article">
                <h1 class="main-article-title">Title of the page</h1>
                <p class="main-article-description">ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,</p>
                <a href="#" class="btn btn-primary modal-trigger">Main action</a>
            </article>
            <ul class="section-list list-unstyled clearfix">
                <li class="section-list-item">
                    <a href="#" class="section-link content-item">
                        <span class="img content-visual"></span>
                        <span class="content-infos">
                            <strong class="content-title section-title">Section title with a long description</strong>
                            <span class="content-description">ed ut perspiciatis unde omnis iste natus...</span>
                        </span>
                    </a>
                </li>
                <li class="section-list-item">
                    <a href="#" class="section-link content-item">
                        <span class="img content-visual"></span>
                        <span class="content-infos">
                            <strong class="content-title section-title">Section title</strong>
                            <span class="content-description">ed ut perspiciatis unde omnis iste natus...</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="focus-background">
            <div class="container">
                <article class="focus-article clearfix content-item">
                    <h2 class="focus-title content-title"><a class="content-title-link" href="#" title="Section title article">Section title</a></h2>
                    <div class="img content-visual"></div>
                    <div class="content-infos">
                        <p class="focus-description content-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                    </div>
                </article>
            </div>
        </div>
    </main>
</div>
<footer id="footer">
    <div id="footer-content" class="container">
        <small>Copyright ©2016 My Site | All rights reserved</small>
    </div>
</footer>

<div id="mask" class="close-modal-link"></div>
<div class="modal-container">
    <header>
        <strong>Title of the modal</strong>
    </header>
    <div class="modal-body">
        <form id="get-message-form" action="@{Application.getAsyncPresentationMessage()}" method="post">
            <div class="form-group">
                <label class="control-label" for="name">Name<span class="mandatory">*</span>:</label>
                <input id="name" class="form-control" name="name" type="text" placeholder="Name">
                <div id="error-name" class="error">The name is mandatory</div>
            </div>

            <iframe id="signature-container" src="@{'/public/images/signature.svg'}"></iframe>
            <div id="signatureData"></div>
            <input id="signature-input" type="hidden" name="signature">
            <button id="show-signature-link" type="button" class="btn btn-default">Show signature</button>
            <button id="clear-signature-link" type="button" class="btn btn-default">Clear signature</button>

            <div class="action">
                <button id="get-message-link" class="btn btn-primary">Get infos</button>
            </div>
        </form>
        <div class="modal-content"></div>
    </div>
    <footer class="modal-footer">
        <button class="close-modal-link btn btn-default">Close</button>
    </footer>
</div>

<script src="@{'/public/lib/modernizr/modernizr-2.6.1.min.js'}"></script>
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="@{'/public/javascripts/signature.js'}"></script>
<script src="@{'/public/javascripts/init-responsive.js'}"></script>
</body>
</html>