<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>

    <!--Metadonnees general du site-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="login-url" content="@{secure.Secure.login()}" />
    <meta property="og:site_name" content="Fnox.com" />
    <meta charset="${_response_encoding}">

    <!--CSS-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-theme.css'}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@{Application.index()}"><span class="glyphicon glyphicon-home"></span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            #{if controllers.secure.Security.isConnected()}
                <li><a href="@{Panier.voirMonPanier()}">Voir Panier</a></li>
                #{if controllers.secure.Security.check("ADMIN")}
                    <li><a href="@{Admin.index()}"><strong>Admin</strong></a></li>
                #{/if}
            #{/if}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            #{if controllers.secure.Security.isConnected()}
                <li><a href="">Mon Compte</a></li>
                <li><a href="@{secure.Secure.logout()}">Se déconnecter</a></li>
            #{/if}
            #{else}
                <li><a href="@{secure.Secure.login()}">Se connecter</a></li>
            #{/else}
            </ul>
        </div>
    </div>
</nav>


#{doLayout /}


<footer class="footer">
    <p class="text-muted col-xs-12 col-md-6">Copyright ©2016 My Site | All rights reserved</p>
    <p class="text-muted col-xs-12 col-md-6"><a href="mail:serviceClient@monsite.org">Contacts: serviceClient@monsite.org</a> </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
#{get 'moreScripts' /}
</body>
</html>
