<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <!--<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">-->
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/stylesheets.css'}">
</head>
<body>
    <header id="header" class="clearfix" role="banner">
        <a id="logo" href="#" title="my website, my main activity...">
            <span class="img company-logo" alt="Logo of my company"></span>
        </a>
        <nav id="main-nav">
            <ul id="main-nav-list" class="list-unstyled">
                #{if controllers.secure.Security.isConnected()}
                <li class="main-nav-item"><a class="main-nav-link" href="@{Panier.voirMonPanier()}">Voir Panier</a></li>
                #{if controllers.secure.Security.check("ADMIN")}
                <li class="main-nav-item"><a class="main-nav-link" href="@{Admin.index()}">Admin</a></li>
                #{/if}
                <li class="main-nav-item"><a class="main-nav-link" href="@{secure.Secure.logout()}">Se déconnecter</a></li>
                #{/if}
                #{else}
                <li class="main-nav-item"><a class="main-nav-link" href="@{secure.Secure.login()}">Se connecter</a></li>
                #{/else}
            </ul>
        </nav>
    </header>

    #{doLayout /}
    <footer id="footer">
        <div id="footer-content" class="container">
            <small>Copyright ©2016 My Site | All rights reserved</small>
        </div>
    </footer>
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
</body>
</html>
