<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js ie"><![endif]-->
<html lang="en">
<!--<![endif]-->




<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

    <meta name="copyright" content="©2016 My site | all rights reserved">

    <!-- <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"> -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/produitStyle.css'}">



</head>


<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="header">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar" id="menu-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>



            <a class="navbar-brand" href="@{Application.index()}">E commerce nike</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@{Application.index()}">Home</a></li>


                #{if controllers.secure.Security.isConnected()}
                <li><a href="@{Panier.voirMonPanier()}">Voir Panier</a></li>
                #{if controllers.secure.Security.check("ADMIN")}
                <li><a href="@{Admin.index()}">Admin</a></li>
                #{/if}
                <li><a href="@{secure.Secure.logout()}">Se déconnecter</a></li>
                #{/if}
                #{else}
                <li><a href="@{secure.Secure.login()}">Se connecter</a></li>
                #{/else}
                <li><a href="/contact">Contact</a></li>

                <li><a href="@{Application.index()}">Retour</a></li>


            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
#{doLayout /}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script   src="http://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- <script src="../../dist/js/bootstrap.min.js"></script>!-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>!-->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



#{get 'moreScripts' /}
</body>

</html>
